certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.10
ddddocr==1.4.3
ddt==1.4.4
et-xmlfile==1.1.0
flatbuffers==2.0
idna==2.10
Jinja2==3.0.3
jsonpath==0.82
MarkupSafe==2.0.1
numpy==1.21.6
onnxruntime==1.11.0
opencv-python==4.5.5.64
openpyxl==3.0.9
Pillow==9.1.0
protobuf==3.20.1
PyMySQL==1.0.2
PyYAML==5.3.1
requests==2.24.0
unittestreport==1.4.0
urllib3==1.25.11
